<?xml version="1.0"?>
<config>   
	<tabs>
		<zeo_config translate="label" module="recaptcha">
			<label>Zeo Extensions</label>
			<sort_order>1000</sort_order>
		</zeo_config>
	</tabs>
	<sections>
		<zeo_recaptcha_setting  translate="label" module="recaptcha">                    
			<label>reCaptcha</label>
			<tab>zeo_config</tab>
			<frontend_type>text</frontend_type>
			<sort_order>0</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>            
			<groups>
			<general translate="label"> 
                    <label>reCaptcha</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <public_key translate="label">
                            <label>Site Key</label>
                            <comment>You got this from the signup page: https://www.google.com/recaptcha/admin/create</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </public_key>
                        <private_key translate="label">
                            <label>Secret Key</label>
                            <comment>You got this from the signup page: https://www.google.com/recaptcha/admin/create</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </private_key>
                          <theme translate="label">
                            <label>reCaptcha Theme</label>
                            <comment>Customizing the Look of reCAPTCHA</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>recaptcha/source_theme</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </theme>
                        <lang translate="label">
                            <label>reCaptcha Language</label>
                            <comment>Which language is used in the reCaptcha interface</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>recaptcha/source_lang</source_model> 
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lang>
                        <force_actions translate="label">
                            <label>Force reCaptcha in those actions</label>
                            <comment>each line should have controller|session type|form session variable, EX: "customer_account_createpost|customer/session|customer_form_data"</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </force_actions>
                       
                    </fields>
                </general>		   
			</groups>
		</zeo_recaptcha_setting>
	
	</sections>
</config>